<header>
  <div class="logo">lkfiap</div>
  <nav class="active">
      <ul>
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <li>
              <a class="{% if my_page.url == page.url %} active{% endif %}" href="{{ my_page.url | relative_url }}">
                {{ my_page.title | escape }}
              </a>
            </li>
          {% endif %} 
        {% endfor %}
      </ul>


      <div class="dropdown">
        {% assign mydocs = site.docs | group_by: 'category' %}
        {% for cat in mydocs %}
          <button class="dropbtn">{{ cat.name | capitalize }}
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            {% assign items = cat.items | sort: 'order' %}
            {% for item in items %}
              <a href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>




  </nav>
  <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
</header>