<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="milligram.css">
</head>

<body>
  <main class="wrapper">

    <section class="container" id="naviga">
      {% include navigation.html %}
    </section>

    <section class="container" id="cont">
      {{ content }}

    </section>

    <section class="container" id="variables">
      page url: {{ page.url }}
      <br>
      item link: {{ item.link }}

    </section>



  </main>
</body>

</html>